---
interface Props {
  className?: string;
}

const { className = 'w-8 h-8' } = Astro.props;
---

<div class="w-16 h-16 mx-auto bg-secondaryDark rounded-lg flex items-center justify-center">
<svg class={className} fill="none" stroke="currentColor" viewBox="0 0 24 24">
  <slot />
</svg>
</div>
